.header {   
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.header-top {
   @include flex-sb;
   margin-top: 40px;
}
.nav {
   display: flex;
   justify-content: space-between;
   &-item {
      margin-left: 23px;
   }
   &-link {
      color: $dark;
      border-bottom: 1px solid transparent;
      transition: 0.3s;
      &:hover {
         border-bottom: 1px solid $dark;
      }
   }
}
.title-h1 {
   font-size: $fsize-h1;
   font-weight: 300;
   text-transform: capitalize;
   @include flex-center;
   span {
      font-weight: 500;
   }      
}
.scroll {
   margin: 0 auto;
}
.btn-scroll {
   display: block;
   background-color: transparent;
   border: none;
   outline: none;
   display: block;
   margin: 0 auto;
   margin-bottom: 45px;  
   text-align: center; 
   &:hover {
      animation: scroll 0.7s linear infinite alternate;
   }
}


.menu-icon-wrapper {
   height: 30px;
   width: 30px;
   display: flex;
   justify-content: center;
   align-items: center;    
}

.menu-icon {
   position: relative;
   width: 30px;
   height: 4px;
   border-radius: 3px;
   background-color: $dark;
   z-index: 3;
}

.menu-icon::before {
   position: absolute;
   left: 0;
   top: -10px;
   content: '';
   display: block;
   width: 30px;
   height: 4px;
   border-radius: 3px;
   background-color: $dark;
   transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-icon::after {
   content: '';
   position: absolute;
   left: 0;
   top: 10px;   
   display: block;
   width: 30px;
   height: 4px;
   border-radius: 3px;
   background-color: $dark;
   transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-icon.menu-icon-active {
   background-color: transparent;
}

.menu-icon.menu-icon-active::before {
   transform: rotate(45deg);
   top: 0;
   transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.menu-icon.menu-icon-active::after {
   transform: rotate(-45deg);
   top: 0;
   transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}
.header__nav-button {
   margin-right: 20px;
   @media (min-width: 850px) {
      display: none;
   }    
}